.FormItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 100%;

  &.Column {
    flex-direction: column;
    margin-bottom: 0;
    width: 200px;

    .input {
      width: 100%;
    }

    .label {
      margin-right: 0;
    }

  }

  .label {
    margin-right: 10px;
  }

  .input { 
    width: 400px;
  }

  .input-textarea {
    height: 100px;
  }
}

